@import "fonts.css";

body {
  margin: 0px;
  color: #ffffff;
  text-transform: none;
  font-family: "Gotham"; /* Adding this as a default, you can always change it */
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

img { /* This applys to images in general, dont mind this */
  width: 50px;
  margin: left;
}

td { /* Adding this so everything could be seperated. */
  padding:10px;
}

ul {
  list-style-type: none;
}

a {
  display: flex;
  padding: 5px;
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: white;
}

tr:hover {
  background: #2e2e2e;
}

hr {
  margin-right: 20px;
}

.box {
  display: grid;
  grid-template-columns: 235px 6fr;
}

.sidebar {
  background: black;
}

.sidebar-logo { /* Spotify Logo */
  width: 135px;
  margin-top: 20px;
  margin-left: 30px;
}

.sidebar__link {
  display: flex;
  align-items: center;
}

.sidebar__navbar {
  margin-right: 30px;
}

.side-text {
  color:darkgray;
}

.side-text:hover {
  color: white;
}

.main-layout {
  background: linear-gradient(to top, #000000, #434343);
  color: white;
  height: 100vh;
  overflow-y: scroll;
}

.main-layout::-webkit-scrollbar { /* prevents other scroll bars from appearing when scrolling through the pg */
  display: none;
}

.header { /* Profile/Banner */
  height: 400px;
  background-image: url("assets/images/profiles/"); /* Add users profile banner here */
  background-size: cover;
  background-position: center center;
  display: flex;
}

.header__artist-info {
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.verified {
  display: flex;
  align-items: center;
}

.verified-badge {
  width: 35px;
}

.artist-info {
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.heart { /* heart asset used to like songs */
  width: 20px;
}

.popular-stuff {
  display: flex;
  justify-content: space-evenly;
}

.popular-releases {
  padding-left: 20px;
}

.discography {
  display: flex;
  justify-content: space-evenly;
}

.disc-box {
  border-radius: 15px;
  padding: 15px;
  background-color: #1a1a1a;
}

.disco-imgs {
  width: 150px;
}

.disc-box:hover {
  background: #2e2e2e;
}

.about { /* About the artist section*/
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: none; /* this is staying by default since idk what size your imgs are. */
}
